nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 4rem;
  background-color: $white;
  @include header-shadow;
  @include desktop {
    height: 6rem;
  }

  .header-logo {
    align-self: center;
    width: 12.25rem;
    height: 2.25rem;

    @include desktop {
      width: 12.5rem;
      height: 3rem;
    }
  }

  .fa-arrow-left {
    position: absolute;
    top: 1.1rem;
    left: 1.7rem;
    font-size: 30px;

    @include desktop {
      top: 2.1rem;
    }
  }
}
