@import '../utils/mixins';
@import '../utils/variables';

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 63px;
  background-color: $white;
  @include header-shadow;
}

header .fa-arrow-left {
  position: absolute;
  top: 17px;
  left: 17px;
  font-size: 30px;
}

.header-logo {
  padding: 14px 89px 13px 89px;
  width: 12.25rem;
  height: 2.25rem;
}
