@import '../utils/mixins';
@import '../utils/variables';

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 63px;
  background-color: $white;
  @include header-shadow;

  .header-logo {
    align-self: center;
    width: 12.25rem;
    height: 2.25rem;
  }

  .fa-arrow-left {
    position: absolute;
    top: 17px;
    left: 17px;
    font-size: 30px;
  }
}
