.nouveau {
  width: 5rem;
  height: 1.8rem;
  border-radius: 2px;
  background: $third-color;
  color: $green-font;
  font-size: 0.875rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 2;
}
