.dish {
  display: flex;
  border-radius: 15px;
  background: $white;
  @include dish-shadow;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;

  .dish__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;
    padding: 1rem;

    h3 {
      font-size: 18px;
      font-weight: 500;
    }

    p {
      font-size: 15px;
      font-weight: 300;
    }
  }

  .dish__price {
    display: flex;
    align-items: flex-end;
    transform: translateX(4rem);
    transition: all 400ms ease-in-out;

    p {
      font-size: 15px;
      font-weight: 700;
      margin: 0 1rem 1rem 0;
    }

    .check-mark {
      background-color: $third-color;
      width: 4rem;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0 15px 15px 0;
      transform: scaleX(0);
      transform-origin: right;
      transition: all 400ms ease-in-out;

      i {
        color: $white;
        font-size: 20px;
      }
    }
  }

  &:hover {
    .dish__price {
      transform: translateX(0);
    }

    .check-mark {
      transform: scaleX(1);
    }
  }
}
