@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap");
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: inherit;
}

.banner {
  width: 100%;
}
.banner img {
  height: 275px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cta,
.cta-homepage {
  background: linear-gradient(0deg, #9356dc -11.4%, #ff79da 123.93%);
  border: none;
  color: white;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: opacity 350ms, box-shadow 350ms;
}
.cta:hover,
.cta-homepage:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.cta-homepage {
  padding: 1rem 1.5rem;
}

.cta {
  padding: 1rem 3rem;
}

.nouveau {
  width: 5rem;
  height: 1.8rem;
  border-radius: 2px;
  background: #99e2d0;
  color: #008766;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 2;
}

.restaurant__card {
  border-radius: 15px;
  width: 100%;
  height: 251px;
  background-color: white;
  position: relative;
}
.restaurant__card__image {
  width: 100%;
  height: 174px;
  position: relative;
}
.restaurant__card__image img {
  height: 174px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurant__card__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem 0 0.7rem 1rem;
}
.restaurant__card__content h3 {
  font-size: 18px;
  margin-bottom: 0.3rem;
}
.restaurant__card__content p {
  font-size: 17px;
}
.restaurant__card__like i {
  font-size: 22px;
  position: absolute;
  right: 1.5rem;
  bottom: 2rem;
}
@media only screen and (min-width: 1024px) {
  .restaurant__card {
    width: 45%;
  }
}

.dish {
  display: flex;
  border-radius: 15px;
  background: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}
.dish .dish__text {
  display: block;
  padding: 1rem;
  overflow: hidden;
}
.dish .dish__text h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0.3rem;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dish .dish__text p {
  font-size: 15px;
  font-weight: 300;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dish .dish__price {
  display: flex;
  align-items: flex-end;
  transform: translateX(4rem);
  transition: all 400ms ease-in-out;
  position: absolute;
  right: 0;
  height: 100%;
}
.dish .dish__price p {
  font-size: 15px;
  font-weight: 700;
  margin: 0 1rem 1rem 0;
}
.dish .dish__price .check-mark {
  background-color: #99e2d0;
  width: 4rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 15px 15px 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 400ms ease-in-out;
}
.dish .dish__price .check-mark i {
  color: white;
  font-size: 20px;
}
.dish:hover .dish__text {
  width: 60%;
}
@media only screen and (min-width: 768px) {
  .dish:hover .dish__text {
    width: 80%;
  }
}
@media only screen and (min-width: 1024px) {
  .dish:hover .dish__text {
    width: 80%;
  }
}
.dish:hover .dish__price {
  transform: translateX(0);
}
.dish:hover .check-mark {
  transform: scaleX(1);
}

.heart-empty {
  color: black;
  cursor: pointer;
}

.heart-full {
  color: transparent;
  background-image: linear-gradient(to top, #ff79da, #9356dc);
  -webkit-background-clip: text;
          background-clip: text;
  cursor: pointer;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.heart-full:hover {
  opacity: 1;
}

.loader {
  height: 100%;
  width: 100%;
  z-index: 100;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(193deg, #9356dc -11.4%, #ff79da 123.93%);
  animation: loader 1500ms cubic-bezier(1, 0, 1, 0) forwards;
}
.loader__container {
  position: relative;
}
.loader__container::before, .loader__container::after {
  content: "";
  position: absolute;
  top: -2.5rem;
  right: -2.5rem;
  bottom: -2.5rem;
  left: -2.5rem;
  border: 4px solid white;
  border-radius: 40px;
  transition: all 1500ms;
  animation: spin 1500ms infinite linear;
}
.loader__container::after {
  animation: spin 1500ms infinite -750ms linear;
}
.loader .logo {
  font-family: "Shrikhand", serif;
  color: white;
  font-size: 30px;
}

@keyframes loader {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -100;
  }
}
@keyframes spin {
  0%, 100% {
    -webkit-clip-path: inset(90% 0 0 0);
            clip-path: inset(90% 0 0 0);
  }
  25% {
    -webkit-clip-path: inset(0 90% 0 0);
            clip-path: inset(0 90% 0 0);
  }
  50% {
    -webkit-clip-path: inset(0 0 90% 0);
            clip-path: inset(0 0 90% 0);
  }
  75% {
    -webkit-clip-path: inset(0 0 0 90%);
            clip-path: inset(0 0 0 90%);
  }
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 4rem;
  background-color: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
@media only screen and (min-width: 1024px) {
  nav {
    height: 6rem;
  }
}
nav .header-logo {
  align-self: center;
  width: 12.25rem;
  height: 2.25rem;
}
@media only screen and (min-width: 1024px) {
  nav .header-logo {
    width: 12.5rem;
    height: 3rem;
  }
}
nav .fa-arrow-left {
  position: absolute;
  top: 1.1rem;
  left: 1.7rem;
  font-size: 30px;
}
@media only screen and (min-width: 1024px) {
  nav .fa-arrow-left {
    top: 2.1rem;
  }
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.4rem 1.6rem;
}
footer h2 {
  color: white;
  font-family: "Shrikhand", serif;
  font-size: 18px;
  font-weight: 400;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: flex-start;
  color: white;
  padding-left: 0;
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  margin-top: 1rem;
}
@media only screen and (min-width: 768px) {
  footer ul {
    flex-direction: row;
    gap: 1.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  footer ul {
    flex-direction: row;
    gap: 1.5rem;
  }
}
footer ul i {
  font-size: 13px;
}
@media only screen and (min-width: 1024px) {
  footer {
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 5rem;
    padding: 3rem 4rem 2rem 0;
  }
}

.fa-utensils {
  margin-right: 0.7rem;
}

.fa-handshake-angle {
  margin-right: 0.4rem;
}

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #eaeaea;
  height: 50px;
}
.location__city {
  background-color: #eaeaea;
  color: #353535;
  font-size: 16px;
  font-weight: 500;
  border: none;
  padding: 0;
  width: 8rem;
}
.location__city:focus {
  outline: none;
}
.location__city::-moz-placeholder {
  color: #353535;
  font-size: 16px;
  font-weight: 500;
}
.location__city::placeholder {
  color: #353535;
  font-size: 16px;
  font-weight: 500;
}

.fa-location-dot {
  color: #353535;
  width: 13px;
  height: 20px;
}

.hero {
  padding: 2.5rem 0 3.5rem 0;
  background-color: #f6f6f6;
}
.hero h1 {
  padding: 0 3rem 1rem 3rem;
}
@media only screen and (min-width: 1024px) {
  .hero h1 {
    font-size: 40px;
  }
}
.hero p {
  padding-bottom: 1.7rem;
}

.fonctionnement {
  padding: 3rem 1.25rem 4.25rem 1.25rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media only screen and (min-width: 768px) {
  .fonctionnement {
    width: 85%;
    margin: 0 auto 0 auto;
  }
}
@media only screen and (min-width: 1024px) {
  .fonctionnement {
    width: 92%;
    justify-content: center;
  }
}
.fonctionnement h2 {
  align-self: flex-start;
}
@media only screen and (min-width: 1024px) {
  .fonctionnement h2 {
    margin-left: 1.75rem;
  }
}
.fonctionnement .steps__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-left: 0.75rem;
  padding-left: 0;
}
@media only screen and (min-width: 1024px) {
  .fonctionnement .steps__container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
  }
}
.fonctionnement .step {
  height: 4.5rem;
  width: 100%;
  border-radius: 20px;
  background: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.3rem;
}
.fonctionnement .step__number {
  color: white;
  font-size: 14px;
  font-weight: 500;
  background-color: #9356dc;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -0.75rem;
}
.fonctionnement .step__text {
  font-size: 16px;
  font-weight: 500;
}
@media only screen and (min-width: 1024px) {
  .fonctionnement .step {
    width: 30%;
  }
}

.fa-mobile-screen-button,
.fa-list-ul {
  color: #7e7e7e;
  font-size: 20px;
}

.fa-store {
  color: #9356dc;
  font-size: 20px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding: 3.3rem 1rem 4rem 1rem;
  gap: 1.25rem;
}
.restaurants h2 {
  align-self: flex-start;
  margin-left: 0.2rem;
}
@media only screen and (min-width: 768px) {
  .restaurants h2 {
    margin-left: 8%;
  }
}
@media only screen and (min-width: 1024px) {
  .restaurants h2 {
    margin-left: 7.5%;
  }
}
.restaurants__cards-container {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}
@media only screen and (min-width: 768px) {
  .restaurants__cards-container {
    width: 85%;
    margin: 0 auto 0 auto;
  }
}
@media only screen and (min-width: 1024px) {
  .restaurants__cards-container {
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: 3rem;
  }
}

.menu {
  background-color: #f6f6f6;
  border-radius: 25px 25px 0 0;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: -3.75rem;
  padding-bottom: 2.5rem;
}
@media only screen and (min-width: 768px) {
  .menu {
    width: 80%;
    margin: -3.75rem auto 0 auto;
  }
}
@media only screen and (min-width: 1024px) {
  .menu {
    width: 75%;
    margin: -3.75rem auto 0 auto;
  }
}

.restaurant-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0 0px 1rem;
  border-radius: 25px 25px 0 0;
  position: relative;
  background-color: #f6f6f6;
}
@media only screen and (min-width: 768px) {
  .restaurant-name {
    justify-content: space-around;
  }
}
@media only screen and (min-width: 1024px) {
  .restaurant-name {
    justify-content: space-around;
    gap: 1.5rem;
  }
}
.restaurant-name h1 {
  font-family: "Shrikhand", serif;
  font-size: 28px;
  font-weight: 400;
}
.restaurant-name i {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 22px;
}
@media only screen and (min-width: 768px) {
  .restaurant-name i {
    margin-right: 10%;
  }
}
@media only screen and (min-width: 1024px) {
  .restaurant-name i {
    margin-right: 26%;
    right: 0;
  }
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
  gap: 2.5rem;
}
@media only screen and (min-width: 768px) {
  .menu-container {
    width: 80%;
    margin: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .menu-container {
    width: 60%;
    align-content: center;
    margin: auto;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(600%);
  }
  100% {
    transform: translateX(0);
  }
}
.course {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.course__title {
  align-self: flex-start;
  animation: slide-in 1000ms 1000ms;
}
.course__title h2 {
  font-size: 16px;
  font-weight: 300;
}
.course__title__underline {
  width: 2.5rem;
  height: 0.2rem;
  background: #99e2d0;
  margin-top: 0.3rem;
}

.dish-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-left: 0;
}
.dish-container .dish {
  animation: slide-in 1000ms;
  animation-fill-mode: backwards;
}
.dish-container .dish:nth-child(1) {
  animation-delay: 1500ms;
}
.dish-container .dish:nth-child(2) {
  animation-delay: 1700ms;
}
.dish-container .dish:nth-child(3) {
  animation-delay: 1900ms;
}
.dish-container .dish:nth-child(4) {
  animation-delay: 2000ms;
}/*# sourceMappingURL=main.css.map */