@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap");
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  text-align: center;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: inherit;
}

.banner {
  width: 100%;
}
.banner img {
  height: 275px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cta {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(0deg, #9356dc -11.4%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: opacity 350ms, box-shadow 350ms;
}
.cta:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.nouveau {
  width: 80px;
  height: 29px;
  border-radius: 2px;
  background: #99e2d0;
  color: #008766;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
}

.restaurant__card {
  border-radius: 15px;
  width: 100%;
  height: 251px;
  background-color: white;
}
.restaurant__card__image {
  width: 100%;
  height: 174px;
  position: relative;
}
.restaurant__card__image img {
  height: 174px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurant__card__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px 0 12px 13px;
  position: relative;
}
.restaurant__card__content h3 {
  font-size: 18px;
  margin-bottom: 5px;
}
.restaurant__card__content p {
  font-size: 17px;
}
.restaurant__card i {
  font-size: 22px;
  position: absolute;
  top: 7px;
  right: 28px;
}

.dish {
  display: flex;
  border-radius: 15px;
  background: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  padding: 15px;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}
.dish .dish__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.dish .dish__text h3 {
  font-size: 18px;
  font-weight: 500;
}
.dish .dish__text p {
  font-size: 15px;
  font-weight: 300;
}
.dish .dish__price {
  display: flex;
  align-items: flex-end;
}
.dish .dish__price p {
  font-size: 15px;
  font-weight: 700;
}

.heart-empty {
  color: black;
  cursor: pointer;
}

.heart-full {
  color: transparent;
  background-image: linear-gradient(to top, #ff79da, #9356dc);
  -webkit-background-clip: text;
          background-clip: text;
  cursor: pointer;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.heart-full:hover {
  opacity: 1;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 63px;
  background-color: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

header .fa-arrow-left {
  position: absolute;
  top: 17px;
  left: 17px;
  font-size: 30px;
}

.header-logo {
  padding: 14px 89px 13px 89px;
  width: 12.25rem;
  height: 2.25rem;
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 22px 25px;
}
footer h2 {
  color: white;
  font-family: "Shrikhand", serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: flex-start;
  color: white;
  padding-left: 0;
  list-style: none;
  font-size: 16px;
  font-weight: 500;
}
footer ul i {
  font-size: 13px;
}

.fa-utensils {
  margin-right: 11px;
}

.fa-handshake-angle {
  margin-right: 6px;
}

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 17px;
  background-color: #eaeaea;
  height: 50px;
}
.location__city {
  color: #353535;
  font-size: 16px;
  font-weight: 500;
}

.fa-location-dot {
  color: #353535;
  width: 13px;
  height: 20px;
}

.hero {
  padding: 40px 0px 57px 0px;
  background-color: #f6f6f6;
}
.hero h1 {
  padding: 0px 50px 15px 50px;
}
.hero p {
  padding-bottom: 27px;
}

.fonctionnement {
  padding: 48px 20px 68px 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.fonctionnement h2 {
  align-self: flex-start;
}
.fonctionnement .steps__container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-left: 12px;
  padding-left: 0;
}
.fonctionnement .step {
  height: 72px;
  width: 100%;
  border-radius: 20px;
  background: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 22px;
}
.fonctionnement .step__number {
  color: white;
  font-size: 14px;
  font-weight: 500;
  background-color: #9356dc;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -12px;
}
.fonctionnement .step__text {
  font-size: 16px;
  font-weight: 500;
}

.fa-mobile-screen-button,
.fa-list-ul {
  color: #7e7e7e;
  font-size: 20px;
}

.fa-store {
  color: #9356dc;
  font-size: 20px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding: 54px 17px 66px 17px;
  gap: 20px;
}
.restaurants h2 {
  align-self: flex-start;
  margin-left: 3px;
}
.restaurants__cards-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.menu {
  background-color: #f6f6f6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: -60px;
  padding-bottom: 40px;
}

.restaurant-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0 0px 17px;
  border-radius: 25px 25px 0 0;
  position: relative;
  background-color: #f6f6f6;
}
.restaurant-name h1 {
  font-family: "Shrikhand", serif;
  font-size: 28px;
  font-weight: 400;
}
.restaurant-name i {
  position: absolute;
  top: 40px;
  right: 41px;
  font-size: 22px;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 17px;
  gap: 40px;
}

.course {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.course__title {
  align-self: flex-start;
}
.course__title h2 {
  font-size: 16px;
  font-weight: 300;
}
.course__title__underline {
  width: 40px;
  height: 3px;
  background: #99e2d0;
  margin-top: 5px;
}

.dish-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 0;
}/*# sourceMappingURL=main.css.map */