@import '../utils/mixins';
@import '../utils/variables';

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 17px;
  background-color: $second-background-grey;
  height: 50px;

  &__city {
    color: $footer-dark-grey;
    font-size: 16px;
    font-weight: 500;
  }
}

.fa-location-dot {
  color: $footer-dark-grey;
  width: 13px;
  height: 20px;
}

.hero {
  padding: 40px 0px 57px 0px;
  background-color: $background-grey;

  h1 {
    padding: 0px 50px 15px 50px;
  }

  p {
    padding-bottom: 27px;
  }
}

.fonctionnement {
  padding: 48px 20px 68px 20px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  gap: 25px;

  h2 {
    align-self: flex-start;
  }

  .steps__container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: 12px;
    padding-left: 0;
  }

  .step {
    height: 72px;
    width: 100%;
    border-radius: 20px;
    background: $background-grey;
    @include step-shadow;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 22px;

    &__number {
      color: $white;
      font-size: 14px;
      font-weight: 500;
      background-color: $primary-color;
      width: 24px;
      height: 24px;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      left: -12px;
    }

    &__text {
      font-size: 16px;
      font-weight: 500;
    }
  }
}

.fa-mobile-screen-button,
.fa-list-ul {
  color: $icon-grey;
  font-size: 20px;
}

.fa-store {
  color: $primary-color;
  font-size: 20px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: $background-grey;
  padding: 54px 17px 66px 17px;
  gap: 20px;

  h2 {
    align-self: flex-start;
    margin-left: 3px;
  }

  &__cards-container {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
}

.fa-heart {
  color: $black;
  font-size: 21px;
}
