.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: $second-background-grey;
  height: 50px;

  &__city {
    background-color: $second-background-grey;
    color: $footer-dark-grey;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    padding: 0;
    width: 8rem;

    &:focus {
      outline: none;
    }
    &::placeholder {
      color: $footer-dark-grey;
      font-size: 1rem;
      font-weight: 500;
    }
  }
}

.fa-location-dot {
  color: $footer-dark-grey;
  width: 13px;
  height: 20px;
}

.hero {
  padding: 2.5rem 0 3.5rem 0;
  background-color: $background-grey;
  @include desktop {
    padding: 2rem 0 2rem 0;
  }

  h1 {
    padding: 0 3rem 1rem 3rem;
    @include desktop {
      font-size: 2.5rem;
    }
  }

  p {
    padding-bottom: 1.7rem;
  }
}

.fonctionnement {
  padding: 3rem 1.25rem 4.25rem 1.25rem;
  background-color: $white;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @include tablet {
    width: 75%;
    margin: 0 auto 0 auto;
  }

  @include desktop {
    width: 80%;
    padding: 3rem 0 3rem 0;
  }

  h2 {
    align-self: flex-start;
  }

  .steps__container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-left: 0.75rem;
    padding-left: 0;

    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .step {
    height: 4.5rem;
    width: 100%;
    border-radius: 20px;
    background: $background-grey;
    @include step-shadow;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.3rem;

    &__number {
      color: $white;
      font-size: 0.875rem;
      font-weight: 500;
      background-color: $primary-color;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      left: -0.75rem;
    }

    &__text {
      font-size: 1rem;
      font-weight: 500;
    }

    @include desktop {
      width: 35%;
      gap: 1rem;
    }
  }
}

.fa-mobile-screen-button,
.fa-list-ul {
  color: $icon-grey;
  font-size: 1.25rem;
}

.fa-store {
  color: $primary-color;
  font-size: 1.25rem;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: $background-grey;
  padding: 3.3rem 1rem 4rem 1rem;
  gap: 1.25rem;

  @include tablet {
    padding: 3rem 0 3rem 0;
    align-items: center;
  }
  @include desktop {
    padding: 2rem 0 2rem 0;
    align-items: center;
  }

  h2 {
    align-self: flex-start;
    @include tablet {
      margin-left: 12.5%;
    }
    @include desktop {
      margin-left: 10%;
    }
  }

  &__cards-container {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;

    @include tablet {
      width: 75%;
      flex-wrap: wrap;
      flex-flow: row wrap;
      justify-content: space-between;
      row-gap: 3rem;
    }

    @include desktop {
      width: 80%;
      flex-wrap: wrap;
      flex-flow: row wrap;
      justify-content: space-between;
      row-gap: 3rem;
    }
  }
}
