.menu {
  background-color: $background-grey;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: -60px;
  padding-bottom: 40px;
}

.restaurant-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0 0px 17px;
  border-radius: 25px 25px 0 0;
  position: relative;
  background-color: $background-grey;

  h1 {
    @include title-font;
    font-size: 28px;
    font-weight: 400;
  }

  i {
    position: absolute;
    top: 40px;
    right: 41px;
    font-size: 22px;
  }
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 17px;
  gap: 40px;
}

.course {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__title {
    align-self: flex-start;

    h2 {
      font-size: 16px;
      font-weight: 300;
    }

    &__underline {
      width: 40px;
      height: 3px;
      background: $third-color;
      margin-top: 5px;
    }
  }
}

.dish-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 0;
}
